@import "var";

.collapse-transition {
    transition: .3s height ease-in-out, .3s padding-top ease-in-out, .3s padding-bottom ease-in-out;
}

.el-list-enter-active,
.el-list-leave-active {
    transition: all 1s;
}

.el-list-enter,
.el-list-leave-active {
    opacity: 0;
    transform: translateY(-30px);
}